<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>central</id>
      <username>R4PQBxTc</username>
      <password>2SeTjIA0zcd87ED2+OgM5kdAcF2ddl9x1FV4SzeBBeke</password>
    </server>
  </servers>
</settings>